* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  text-rendering: optimizelegibility;
  color: rgba(0, 0, 0, 0.8);
}
.highlight {
  color: #11a9ea;
}
article a {
  color: #11a9ea;
  text-decoration: underline;
  -webkit-transition: color .2s;
  transition: color .2s;
}
article a:hover {
  color: #225282;
}
article a:active, a:focus {
  outline: none;
}
hr {
  height: 1px;
  color: #18426c;
  background-color: #18426c;
  border: none;
  width: 100%;
  float: left;
}
#sidebar {
  width: 260px;
  background: #225282;
  height: 100%;
  float: left;
  padding: 0px 20px 0px 20px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar #sidebar-container {
  display: table-cell;
  position: relative;
  min-height: 260px;
}
#showmenu {
  display: none;
}
#sidebar #introduce {
  margin-top: 50px;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
#sidebar #introduce img {
  float: left;
}
#sidebar #introduce .me {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 22px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 5px;
}
#sidebar #introduce .mytitle {
  color: #5682b3;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
#sidebar nav {
  margin-top: 10px;
  float: left;
  width: 220px;
}
#sidebar nav ul {
  list-style: none;
  padding: 0;
}
#sidebar nav ul li {
  margin-bottom:2px;
}
#sidebar nav ul li a {
  color: #5682b3;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  display: block;
  padding: 15px 20px;
  -webkit-transition: background .2s;
  transition: background .2s;
  width: 100%;
  border-radius: 6px;
}
#sidebar nav ul li a:hover,
#sidebar nav ul li a.active {
  color: white;
  background: #23608f;
}
#sidebar nav ul li a:hover i,
#sidebar nav ul li a.active i {
  opacity: 1;
}
#sidebar nav ul li a i {
  float: right;
  color: #11a9ea;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  font-size: 14px;
  margin-right: -6px;
  margin-top: 3px;
}
#sidebar nav ul li a.noicon:hover::after,
#sidebar nav ul li a.noicon.active::after {
  opacity: 1;
}
#sidebar nav ul li a.noicon::after {
  content: '\00a0';
  border: 3px solid #11a9ea;
  border-radius: 6px;
  height: 6px;
  width: 6px;
  display: block;
  float: right;
  margin-top: 7px;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
#content-container {
  float: left;
  width: 100%;
  padding-left: 300px;
}
article {
  width: 700px;
  margin: 40px auto 0px auto;;
}
article figure {
  border: 1px solid #eeeeee;
  padding: 10px;
  background: #f8f8f8;
  margin: 20px 0 0 0;
}
article figure img {
  width: 680px;
  height: auto;
}
article figure figcaption {
  font-size:16px;
  font-style: italic;
  text-align: center;
}
article figure figcaption a {
  font-size:16px;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}
article p {
  font-size: 21px;
}
article h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.028em;
  line-height: 1.04;
  margin-bottom: 0px;
  margin-top: 0px;
}
article h2,
article h3,
article h4 {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 0px;
}
article blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  margin-left: -23px;
  padding: 10px 0px 10px 20px;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 1.58;
  background: #f8f8f8;
}
article ul,
article ol {
  list-style: none;
  padding: 0;
}
article ul li::before,
article ol li::before {
  box-sizing: border-box;
  display: inline-block;
  margin-left: -78px;
  position: absolute;
  text-align: right;
  width: 78px;
}
article ul li,
article ol li {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 1.58;
  margin-bottom: 14px;
  margin-left: 30px;
}
article ul li::before {
  font-size: 16.8px;
  content: "•";
  padding-right: 15px;
  padding-top: 4px;
}
article ol {
  counter-reset: post;
}
article ol li::before {
  content: counter(post, decimal) ".";
  counter-increment: post;
  -webkit-font-feature-settings: "liga", "lnum";
          font-feature-settings: "liga", "lnum";
  padding-right: 12px;
}
.main-content {
  margin-top: 150px;
}
footer {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  text-align: center;
}
footer .post-date time {
  font-size: 13px;
}
footer .tags a {
  background: #f2f2f2;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 3px;
  color: #616161;
  line-height: 22px;
  font-size: 13px;
  text-decoration: none;
  padding: 5px 10px;
}
footer .tags a:hover {
  background: #e5e5e5;
}
footer .share, footer .tags {
  margin-top: 10px;
}
footer .share a {
  font-size: 13px;
  line-height: 18.2px;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin-left:10px;
}
footer .share a:hover {
  opacity: 0.8;
}
footer .share .twitter {
  background: #4fafed;
}
footer .share .facebook {
  background: #4361b3;
}
footer .share .linkedin {
  background: #0177b5;
}
.email::after {
  content: attr(data-domain);
}
.email::before {
  content: attr(data-address) "\0040";
}
article ul#blog-posts li, article #pagination ul li {
  margin: 0;
}
article ul#blog-posts li::before, article #pagination ul li::before {
  content: none;
  padding: 0;
  margin: 0;
}
article ul#blog-posts li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
article ul#blog-posts li a span {
  float: left;
  max-width: 550px;
}
article ul#blog-posts li a time {
  float: right;
  color: #bbb;
}
article #pagination {
  text-align: center;
}
article #pagination ul {
  display: inline-block;
  margin: 0;
}
article #pagination ul li {
  float: left;
  padding: 0px 5px 0px 5px;
}
article abbr
{
  cursor:help;
	border-bottom: .1em dotted;
}
.rss {
  float:right;
  color: #f26522;
}
.rss:hover {
  color:#ec8a00;
}
.no-margin-top {
  margin-top:0px;
}
